html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb {
    margin-bottom: 20px;
    font-size: 13px;
}
.el-cascader {
    width: 100%;
}
.el-cascader-panel {
    height: 200px;
}